.portfolio-about {
    width: auto;
    font-family: "Roboto Flex";
}

.portfolio-about h2 {
    color: #672112;
    text-align: center;
    font-family: "Bebas Neue";
    padding: 5px;
}

.portfolio-about-display {
    display: flex;
    align-items: center;
}

.portfolio-about-img {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.portfolio-about-img img {
    width: 35%;
    border-radius: 75% 25% 55% 45% / 42% 32% 68% 58%;
}

.portfolio-about-details {
    margin: 30px 60px 30px 0px;
    padding-left: 170px;
}

.portfolio-about-details a {
    text-decoration: none;
    color: #672112;
    font-family: "Bebas Neue";
}

.portfolio-about-button {
    display: flex;
    justify-content: space-evenly;
}

.portfolio-about-button a {
    border: 2px solid #672112;
    text-decoration: none;
    color: #672112;
    background-color: #c9e1ff;
    text-align: center;
    font-family: "Bebas Neue";
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px;
}

@media screen and (min-width: 820px) and (max-width: 1070px) {
    .portfolio-about-img img {
        width: 42%;
    }

    .portfolio-about-details {
        margin: 20px 40px 20px 0px;
        padding-left: 70px;
    }

    .portfolio-about-details p {
        font-size: 15px;
    }
}

@media screen and (min-width: 570px) and (max-width: 819px) {
    .portfolio-about-display {
        flex-direction: column;
    }

    .portfolio-about-details {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        margin: 20px 40px 20px 20px;
        padding-left: 0;
    }

    .portfolio-about-details p {
        font-size: 16px;
    }

    .portfolio-about-button {
        flex-direction: column;
    }
}

@media screen and (max-width: 569px) {
    .portfolio-about-display {
        flex-direction: column;
    }

    .portfolio-about-img img {
        width: 40%;
    }

    .portfolio-about-details {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin: 20px 30px;
        padding-left: 0;
    }

    .portfolio-about-details p {
        font-size: 16px;
    }

    .portfolio-about-button {
        flex-direction: column;
    }
}