.portfolio-education {
    background-color: #f9d6fb;
    border-radius: 10px;
    text-align: center;
    font-family: "Aleo";
}

.portfolio-education h2 {
    color: #672112;
    font-family: "Bebas Neue";
    text-align: center;
    padding: 5px;
}

.portfolio-timeline {
    text-align: center;
    margin-left: 137px;
}