.portfolio-bg-down {
    background-image: url('../assets/general/background-down.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 270px;
    font-family: "Bebas Neue";
}

.portfolio-logo-down {
    text-align: center;
}

.portfolio-bg-down img {
    width: 7%;
    margin-top: 7em;
    border-radius: 50%;
    padding: 4px;
}

.portfolio-droits {
    text-align: center;
    color: #672112;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

@media screen and (min-width: 820px) and (max-width: 1070px) {
    .portfolio-bg-down img {
        width: 10%;
        margin-top: 6em;
    }
}

@media screen and (min-width: 570px) and (max-width: 819px) {
    .portfolio-bg-down img {
        width: 15%;
        margin-top: 6em;
    }
}

@media screen and (min-width: 446px) and (max-width: 569px) {
    .portfolio-bg-down img {
        width: 20%;
        margin-top: 6em;
    }
}

@media screen and (max-width: 445px) {
    .portfolio-bg-down img {
        width: 20%;
        margin-top: 6em;
    }

    .portfolio-droits {
        font-size: 13px;
    }
}