.portfolio-bg-down {
    background-image: url('../assets/background-down.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 270px;
    font-family: "Bebas Neue";
}

.portfolio-logo-down {
    text-align: center;
}

.portfolio-bg-down img {
    width: 5%;
    margin-top: 7.3em;
    border-radius: 50%;
}