.portfolio-bg-up {
    background-image: url('../assets/background-up.png');
    background-repeat: no-repeat;
    max-width: 1450px;
    height: 263px;
    display: flex;
    align-items: flex-start;
    font-family: "Bebas Neue";
    color: #672112;
}

.portfolio-bg-up img {
    margin: 30px 40px;
    width: 7%;
    border-radius: 50%;
}

.portfolio-logo-up {
    display:flex;
    align-items: center;
}

.portfolio-nav {
    margin: 30px 0px;
    font-family: "Aleo";
}

.portfolio-nav a {
    padding: 10px;
    text-decoration: none;
    color: #672112;
}