.portfolio-bg-up {
    background-image: url('../assets/background-up.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 500px;
    display: flex;
    align-items: flex-start;
}

.portfolio-bg-up img {
    margin: 30px 40px;
    width: 7%;
    border-radius: 50%;
}

.portfolio-logo-up {
    display:flex;
    align-items: center;
}

a {
    margin: 5px;
    padding: 10px;
}


